body {
    font-family: Robto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
}
.container {
    width: 1300px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}
p,
h1,
h2,
h3 {
    margin: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding-left: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}
.header {
    width: 1355px;
    background-color: #0C0B08;
}
.header-logo {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 150px;
}
.header-item {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.header-item-contact {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.header-cotainer {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
.navigation {
    display: flex;
}
.header-menu {
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
    align-items: center;
}
.header-contact {
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}


/* Hero */

.content-hero {
    display: flex;
    width: 1300px;
    height: 800px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.hero-left-section {
    display: block;
    width: 453px;
    height: 481px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 25px;
}
.hero {
    width: 1355px;
    background-color: #0C0B08;
    display: flex;
    
}
.hero-top-text {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.hero-title {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
    width: 500px;
    height: 234px;
    margin-top: 8px;
    margin-bottom: 32px;
}
.hero-bottom-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    height: 84px;
    width: 440px;
    margin-bottom: 32px;
}
.hero-button {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0B08;
    width: 158px;
    height: 44px;
    background-color: #DCCA87;
    border-radius: 5px;
}
.hero-img {
    display: flex;
    margin-left: auto;
}

/* our history */
.our-history {
    width: 1355px;
}
.our-content {
    display: flex;
}
.our-history {
    padding-top: 340px;
    padding-bottom: 330px;
    background-image: url(../image/bg-history.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .our-history {
        background-image: url(../image/bg-history@2x.jpg);
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .our-history {
        background-image: url(../image/bg-history@3x.jpg);
    }
}

.left-history {
    width: 523px;
    position: relative;

}
.his-left {
    text-align: end;
}
.p-history {
    margin-top: 17px;
}
.his-left-svg {
    right: 0;
    position: absolute;
    rotate: 180deg;
}
.right-history {
    width: 523px;
    margin-left: auto;
}
.svg-left {
    position: absolute;
    right: 0;
}
.left-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}
.title-history {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
}
.txt-history {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    margin-bottom: 32px;
}
.btn-history {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0C0C;
    width: 141px;
    height: 44px;
    background: #DCCA87;
}

/* Today’s Special */
.today-s-special {
    background-color: #0C0B0C;
    width: 1355px;
    padding-top: 152px;
    padding-bottom: 152px;
}

.menu-today {
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.today-title {
    margin-top: 8px;
    margin-bottom: 64px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
}
.sub-menu-coctails {
    display: flex;
    justify-content: space-between;
}
.coctail-menu {
    display: flex;
    gap: 32px;
    /* justify-content: space-between; */
}
.coctail-menu-left {
    width: 412px;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.menu-today {
    margin-bottom: 48px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}
.title-menu-item {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
}
.sum-menu {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}
.composition-menu {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;    
    letter-spacing: 0.04em;
    color: #AAAAAA;
    margin-bottom: 40px;
}
.btn-today {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0C0C;
    background-color: #DCCA87;
    border-radius: 5px;
    margin-top: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
}
.button-menu {
    text-align: center;
}

/* book-reservations */
.section-big {
    width: 1355px;
    margin-right: auto;
    margin-left: auto;
}
.book-reservations {
    width: 1355px;
    padding-top: 157px;
    padding-bottom: 152px;
    
    background-color: #0C0B0C;
}
.book-section {
    padding-top: 48px;
    padding-bottom: 48px;
    border: 1px solid rgba(220, 202, 135, 0.2);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
}
.reservations {
    
    text-align: center;
    margin-bottom: 25px;
}
.reserv {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.book-reserv {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;    
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
    margin-bottom: 64px;
}
.form-reserv {
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
}
.book-input {
    text-align: start;
    width: 421px;
    height: 60px;
    padding-left: 22px;
    border: 1px solid #F5EFDB;
    background-color: transparent;
    border-radius: 5px;
}
.book-input::placeholder {
    text-align: left;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #faf8f8;
}
.button-book {
    text-align: center;
}
.book-btn {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0C0C;
    width: 141px;
    height: 44px;
    background: #DCCA87;
}
/* menu */
.menu {
    width: 1355px;
    padding-top: 261px;
    padding-bottom: 262px;
    background-image: url(../image/bg-menu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .menu {
        background-image: url(../image/bg-menu@2x.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .menu {
        background-image: url(../image/bg-menu@3x.jpg);
    }
}
.menu-link-items {
    width: 434px;
    height: 377px;
    margin-left: 145px;
}
.menu-link-item {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.menu-link {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}

/* believe */
.believe {
    width: 1355px;
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url(../image/bg-history.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .believe {
            background-image: url(../image/bg-history@2x.jpg);
        }
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .believe {
            background-image: url(../image/bg-history@3x.jpg);
        }
    }
    .right {
        display: flex;
        gap: 120px;
    }
    .believe-right {
        padding-top: 87px;
    }
    .believe-txt {
        margin-bottom: 8px;
        
        font-family: 'Cormorant Upright';
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #FFFFFF;
    }
    .believe-title {
        margin-top: 8px;
        margin-bottom: 64px;
        font-family: 'Cormorant Upright';
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #DCCA87;
    }
    .text-believe {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #AAAAAA;
        margin-bottom: 64px;
    }
    .kevin-text {
        font-family: 'Cormorant Upright';
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #DCCA87;
    }
    .chef-txt {
        font-style: normal;
    }
    .autograph {
        font-family: 'Dekko';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #AAAAAA
    }


    /* section-video */
    .section-video {
        position: relative;
        width: 1355px;
        height: 763px;
        background-image: linear-gradient(rgba(12, 12, 12, 0.4), rgba(12, 12, 12, 0.4)),
         url(../image/video-foe.jpg);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section-video {
                background-image: linear-gradient(rgba(12, 12, 12, 0.4), rgba(12, 12, 12, 0.4)), url(../image/video-foe@2x.jpg);
            }
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section-video {
                background-image: linear-gradient(rgba(12, 12, 12, 0.4), rgba(12, 12, 12, 0.4)), url(../image/video-foe@3x.jpg);
            }
        }
    .icon-play {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: #FFFFFF;
        transform: translate(-50%, -50%);
    }
    .play-border {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border: 2px solid #DCCA87;
        background: transparent;
        transform: translate(0%, -50%);
    }
    
    /* laurels */
    .laurels {
        position: relative;
        width: 1355px;
        padding-top: 128px;
        padding-bottom: 128px;
        background-image: url(../image/bg-history.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .laurels {
                background-image: url(../image/bg-history@2x.jpg);
            }
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .laurels {
                background-image: url(../image/bg-history@3x.jpg);
            }
        }
    .section-flex {
        /* position: relative; */
        display: flex;
        justify-content: space-between;
    }
    .img-laurels {
        /* position: absolute; */
    }
    .icon-g {
        position: absolute;
        bottom: 106px;
        right: 245px;
        fill: rgb(255 255 255 / 50%);
    }
        .left-laurels {
            padding-top: 118px;
            width: 634px;
        }
    .text-laurels {
        margin-bottom: 8px;
        font-family: 'Cormorant Upright';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 130%;
            /* identical to box height, or 30px */
        
            letter-spacing: 0.04em;
            text-transform: capitalize;
            font-feature-settings: 'tnum' on, 'lnum' on;
        
            /* FFFFFF */
        
            color: #FFFFFF;
    }
    .title-laurels {
        margin-top: 8px;
        margin-bottom: 64px;
        font-family: 'Cormorant Upright';
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #DCCA87;
    }
    .items-laurels {
        display: flex;
        flex-wrap: wrap;
        gap: 64px;
        column-gap: 32px;
    }
    .item-laurels {
        display: flex;
        width: 301px;
        height: 94px;
        
    }
    .icon {
        margin-right: 32px;
        fill: #F5EFDB;
    }
    .subtitle-laurels {
        font-family: 'Cormorant Upright';
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #DCCA87;
    }
    .subtext-laurels {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;    
        letter-spacing: 0.04em;
        color: #AAAAAA;
    }



    /* section-blogs */
    .section-blogs {
        width: 1355px;
        padding: 152px 0;
        background-color: #040404;
        
    }
    .items-blogs {
        display: flex;
        /* flex-direction: column; */
        gap: 32px;
    }
    .text-blogs {
        font-family: 'Cormorant Upright';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 130%;
            /* identical to box height, or 30px */
        
            letter-spacing: 0.04em;
            text-transform: capitalize;
            font-feature-settings: 'tnum' on, 'lnum' on;
        
            /* FFFFFF */
        
            color: #FFFFFF;
            text-align: center;

    }
    .svg-blog {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .title-blogs {
        font-family: 'Cormorant Upright';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #DCCA87;
        text-align: center;
        margin-bottom: 64px;
    }
    .date-name {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 32px;
    }
    .date-blog {
        font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            /* identical to box height, or 28px */
        
            letter-spacing: 0.04em;
        
            /* FAFAFA */
        
            color: #FAFAFA;
    }
    .name-blogers {
        font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            /* identical to box height, or 28px */
        
            letter-spacing: 0.04em;
        
            /* FAFAFA */
        
            color: #FAFAFA;
    }
    .link-blogs {
        font-family: 'Cormorant Upright';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 130%;
            /* or 42px */
        
            letter-spacing: 0.04em;
            text-decoration-line: underline;
            text-transform: capitalize;
            font-feature-settings: 'tnum' on, 'lnum' on;
        
            /* DCCA87 */
        
            color: #DCCA87;
        /* margin-bottom: 32px; */

    }
    .txt-blogs {
        font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            /* or 28px */
        
            letter-spacing: 0.04em;
        
            /* AAAAAA */
        
            color: #AAAAAA;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .remark-blogs {
        font-family: 'Cormorant Upright';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 175%;
            /* identical to box height, or 28px */
        
            letter-spacing: 0.04em;
        
            /* DCCA87 */
        
            color: #DCCA87;
    }
    .btn-blog {
        font-family: 'Cormorant Upright';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 175%;
            /* identical to box height, or 28px */
        
            letter-spacing: 0.04em;
        border: none;
        background: #DCCA87;
        border-radius: 4px;
            color: #0C0C0C;
            padding: 8px 32px;
        margin-top: 64px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    /* footer */
    .footer {
        padding-top: 350px;
        width: 1355px;
        /* height: 837px; */
        background-image: url(../image/bg-history.jpg);
         background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .footer {
            background-image: url(../image/bg-history@2x.jpg);
        }
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .footer {
            background-image: url(../image/bg-history@3x.jpg);
        }
    }
    .footer-ftr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 64px;
    }
    .ftr-lr-txt {
        text-align: center;
        margin-bottom: 24px;
        font-family: 'Cormorant Upright';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #F5EFDB;
    }
    .link-map {
        margin-bottom: 16px;
    }
    .ftr-address {
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #AAAAAA;
    }
    .ftr-address-right {
        width: 158px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
    }
    .address-link {
        text-align: center;
    }
    .ftr-center {
        text-align: center;
    }
    .ftr-logo {
        font-family: 'Cormorant Upright';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #DCCA87;
        /* margin-bottom: 32px; */
    }
    .ftr-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        margin-top: 32px;
        margin-bottom: 16px;
    }
    .items-soc {
        width: 104px;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    .soc-item{
        fill: #F5EFDB;
    }
    .copyright {
        padding-bottom: 144px;
        margin-top: 80px;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #AAAAAA;
    }

    